* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Montserrat', serif;
    background: url('mario.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#container {
    height: 25rem;
    width: 30rem;
    background-color: black;
    margin: 30px;
    padding: 35px;
    color: beige;

    position: absolute;
    left: 33%;
    top: 20%;

    opacity: 0.8;

    border-radius: 15px;
}

/* Button style */

.gaming-button {
    background-color: #FF5C5C;
    color: #FFFFFF;
    font-size: 24px;
    padding: 16px 32px;
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 0px 4px 0px #D74343;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }

  #button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .gaming-button:hover {
    transform: translateY(-2px);
    box-shadow: 0px 6px 0px #D74343;
  }
  