/* Main page styles*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Montserrat', serif;
  background: url('../images/mario.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#container {
  height: 23rem;
  width: 30rem;
  background-color: black;
  margin: 30px;
  padding: 35px;
  color: beige;

  position: absolute;
  left: 33%;
  top: 20%;

  opacity: 0.8;

  border-radius: 15px;
}

/* Button style */

.gaming-button {
  background-color: #FF5C5C;
  color: #FFFFFF;
  font-size: 24px;
  padding: 16px 32px;
  border-radius: 10px;
  border: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: 0px 4px 0px #D74343;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

#button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gaming-button:hover {
  transform: translateY(-2px);
  box-shadow: 0px 6px 0px #D74343;
}


/* Font styles */

p {
  text-align: center;
  letter-spacing: 1px;
  font-size: 20px;
  color: #FFF;
  text-shadow: 0 0 5px #F00, 0 0 10px #F00, 0 0 15px #F00, 0 0 20px #FFF, 0 0 25px #FFF, 0 0 30px #FFF, 0 0 35px #FFF;
}


/* Screen Size */


/* Large screens (desktops and laptops) */
@media only screen and (min-width: 961px) {
  body {
    font-size: 18px;
  }
}

/* Tablets (768x1024px) */
@media only screen and (width: 768px) and (height: 1024px) {
  body {
    font-size: 18px;
  }

  #container {
    left: 120px;
  }
}

/* Smartphones (320x480px) */
@media only screen and (width: 320px) and (height: 480px) {
  body {
    font-size: 14px;
  }

  #container {
    width: 90%;
    height: 250px;
    left: -20px;
    top: -20px;
  }

  p {
    font-size: 10px;
  }

  .gaming-button {
    font-size: 20px;
  }

  #button {
    top: 20px;
  }
}